.insects-button {
  background-color: rgb(108, 170, 108);
  border-radius: 10px;
}
.birds-buttons {
  background-color: rgb(108, 170, 108);
  border-radius: 10px;
}
.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
